<% provide(:title, "Edit Profile") %>
<h1 align="center">Edit Profile</h1>
<%= render "form" %>
</br>
<%= link_to "Delete Profile", go_to_profile, :method => :delete, class: "btn btn-danger delete-profile" %>
