<h1 align="center">Listing all Tutors</h1>

<p>
  <%= link_to "Register as a tutor", new_tutor_path %>
</p>

<% @tutors.each do |tutor| %>
  
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="full-name">
        <%= link_to "#{tutor.fname} #{tutor.lname}", tutor_path(tutor) %>
        </div>
        <%= tutor.email %>
        <div class="p_description">
          <%= truncate(tutor.description, length: 100) %>
        </div>
      </div>
    </div>
  </div>
<% end %>




