<% provide(:title, "Contact") %>
<h1>Contact</h1>

<p>Idea: <%= link_to "Ramiz Rahman", "http://ramiz-rahman.github.io/" %></p>
<p>Made with <3 in Dhaka by <%= link_to "Sheikh Sajid", "https://www.facebook.com/Sajid.Harry" %></p>
