<% provide(:title, "Contut") %>
<div class="center jumbotron">
  <h1>Contut</h1>
  <p>Find a great tutor near you!</p>
  <p>Contut is a faster, smarter way to find a teacher.</p>
  <% if !tutor_signed_in? and !student_signed_in? %> 
    <%= link_to "Become a tutor", new_tutor_registration_path, class: "btn btn-primary" %>
    <%= link_to "Signup as a student", new_student_registration_path, class: "btn btn-primary" %>
  <% end %>
</div>



