
<div class="center jumbotron">
  <h1>Contut</h1>
  <% if session[:tutor_id].nil? and session[:student_id].nil? %> 
    <%= link_to "Become a tutor", new_tutor_path, class: "btn btn-primary" %>
    <%= link_to "Signup as a student", new_student_path, class: "btn btn-primary" %>
  <% end %>
</div>



