<footer>
    <div class="container">
      <div class="row">  
        <div class="col-md-4 center">
          <span id="footer-logo">Contut<span>
        </div>
        
        <div class="col-md-4 center">
          <ul class="links">
            <li><%= link_to "About",   about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </div>
        
        <div class="col-md-4 center" style="text-align: right;">
          Made with <span class="heart"></span> in dhaka by the <strong>Contut Team.</strong>
        </div>
      </div>
    </div>
</footer>