<footer class="row footer">
    <nav class="col-md-12 text-center text-uppercase">
      <h4>Pages</h4>
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </nav>
    <p class="col-lg-12 text-center">
    <small>
      Made with <span class="heart"></span> in dhaka by the Contut Team.
    </small>
  </p>
</footer>